{% extends 'base.html' %}​
{% block content %}

<div class="editPro-header">
    <h1>Edit Account</h1>
</div>
<div class="editPro">​
    <form method="POST" class="nav_login">
        {{ form.hidden_tag() }}​
        {{ form.username(class='form-control', placeholder='username', value = user.username) }}
        {{ form.email(class='form-control', placeholder='email', value = user.email) }}
        {{ form.password(class='form-control', placeholder='password') }}
        {{ form.confirm_password(class='form-control', placeholder='confirm_password') }}
        
        <div class="buttons">
            {{ form.submit(class='btn btn-secondary') }}
        </div>
    </form>
</div>
{% endblock %}