
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid  ">
        <a class="navbar-brand" href="/"><img alt="Qries" src="https://www.seoclerk.com/pics/want42039-1RJU1l1472173340.png" width="150" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">POKEDEX</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">BATTLE ZONE</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">POKETEAM</a>
                </li>

                <li class="nav-item">
                    <p class="nav-link"> Hello, {{current_user.username}} </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logMeOut')}}">LOGOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile.editProfile')}}">Edit your Profile</a>
                </li>


                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">SIGN-UP</a>
                </li>

                {% endif %}


            </ul>
        </div>
    </div>
</nav>